html {
    background-color: black;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
}

.master-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.master-container-home {
    background-color: black;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    flex-direction: column;
}


/* Login */

.container-login-title {
    margin-bottom: 20px;
}

.login-title {
    color: #FFFFFF;
}

.container-login {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 400px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container-login-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ABABAB;
}

.container-login-body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex: 5;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-group-password {
    margin-bottom: 0 !important;
}

.forgot-password {
    float: right;
    margin-bottom: 20px;
}

.signup {
    margin-top: 15px;
}

.errors {
    margin-left: 30px;
    margin-right: 30px;
    color: red;
}


/* Signup */
.container-signup {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 550px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container-signup-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ABABAB;
}

.container-signup-body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex: 5;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.go-back {
    margin-top: 20px;
    text-align: center;
}


/* posts */
.navbar-brand {
    color: #FFFFFF !important;
}

.btn-logout {
    color: #FFFFFF
}

.posts-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.header-post-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

.posts {
    display: flex;
    flex-direction: column;
    flex: 15;
    width: 100%;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 15px;
    border: 1px solid #ABABAB;
}

.new-post-container {
    /* display: flex; */
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    height: 65%;
    width: 90%;
}

.btn-post {
    margin-top: 10px;
}

.post-header {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.post-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
}

.post-content {
    display: flex;
    flex: 5;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF
}

.post-comments {
    border-top: 0.05rem solid #ABABAB;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    /* ustify-content: center;
    align-items: flex-start; */
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.comment-author {
    font-weight: bold;
    font-size: 12px;
}

.comment {
    font-size: 12px;
}

.post-more-comments {
    width: 100%;
}

.new-comment-area {
    width: 100%;
}

.btn-important {
    float: right;
}

.not-found {
    font-weight: bold;
    color: #FFFFFF;
}

.not-found-container {
    text-align: center;
    margin-top: 30px;
}